.DS_Store
*.swp
*~
.idea/
.vscode/

/dist/
.env
node_modules/

__pycache__/
*.pyc
*.tsbuildinfo

/scripts/webbuild/webbuild
/scripts/i18nstringsgen/i18nstringsgen
/scripts/cyrillic/cyrillic
/scripts/classcheck/classcheck
.tmp/
